

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main__text{
    line-height: 70px;
    
    
}

.pText{
    align-items: center;
    width: 45%;
    line-height: 30px;
    margin-top: 30px;
}

.imagen{
    margin-top: 20px;
}