
.crew{
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
    background-size: cover;
    background-position: center;
   height: auto;
}


.crew__container img{
    height: 60%;
    margin-top: 30%;
    
}

.crew__container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    
 
 

    h1 {
        margin-left: 60px;
        font-size: 30px;
        margin-top: 15%;
    }

    span {
        color: rgb(134, 134, 134);
    }

    h3 {
        margin-left: 60px;
        font-size: 40px;
        margin-top: -5%;
        color: rgb(134, 134, 134);
    }

    h2 {
        margin-left: 60px;
        font-size: 70px;
        margin-top: 40px;
    }

    p {
        margin-left: 60px;
        font-size: 20px;
        margin-top: 40px;
        width: 60%;
    }
}

.crew__left {
    margin-left: -30px;
    
}

// .crew__info {
//     margin-top: -40px;
// }


button {
    // display:flex;
    // flex-direction: column;
    border: none;
    background: transparent;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 20;
}

.lista__botones {
    display: flex;
    margin-left: 80px;
    margin-top: 5%;
}

.button__slider {
    // flex-direction:row-reverse;
    font-size: 12px;
    margin-left: 25px;
    .button__slider:hover {
        opacity: 0.25;
    }
}

@media (max-width:850px) {

    // body {
    //     background-image: url("../../assets/crew/background-crew-tablet.jpg");
    //     width: 100%;
    //     height:auto;   
    // }

    .crew{
        background-image: url("../../assets/crew/background-crew-tablet.jpg");
        width: 100%;
        height:auto;
    }

    .crew__container {
        flex-direction: column;
        width: 80%;
        text-align: center;
        margin-left: 100px;
        
    
        
    h1 {
        margin-left: -380px;
        font-size: 22px;
        margin-top: 120px;
    }

    h2{
        font-size: 50px;
    }

        p {
            text-align:justify;
            margin-left: 160px;
            font-size: 18px;
            margin-top: 40px;
            width: 60%;
        }

    }
    .crew__info {
        margin-top: -10px;
    }

    .lista__botones {
        display: flex;
        margin-left: 280px;
        margin-top: 40px;
       
    }

    .container__image{
        img{
            width: 60%;
            margin-top:40px;
        }
    }
}