.main__technology {
    display: flex;
    flex-direction: row;

    @media (max-width: 1440px) {
    display: flex;

        h2 {
        font-size: 1.2rem;
        }
    }

    @media (max-width: 768px) {
        h2 {
            font-size: 1.2rem;
            }
        }
        
        @media (max-width: 426px) {
            width: 200%;
        }
}

.main__technology-tabs{
    margin-top: 22%;
    margin-right: -3%;
    width: 15%;
    flex-direction: column;
            @media (max-width: 426px) {
            margin-bottom: 50px;
            margin-top: 100%;
            font-size: 1.2rem;
        }
            @media (max-width: 768px) {
            margin-bottom: 50px;
            margin-top: 70%;
            font-size: 1.2rem;
        }
    }
    
    .tabs {
    background-color: transparent;
    border: 1px solid #757474;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 32px;
    margin: 10px 0;
    padding: 15px 25px;
    width: fit-content;
    }
    
    .tabs:hover {
    border: 1.5px solid #FFFFFF;
    }
    .tabs:active {
    background-color: #fff;
    color: #0b0d17;
    }


.main__technology-panels{
    display: flex;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2.7px;
    margin: 15% 0 0;
    width: 35% !important;
    @media (max-width: 768px) {
        margin-left: 100px;
        margin-top: 40%;
        width: 80%;
        }
            
    // @media (max-width: 426px) {
    //     margin-bottom: 50px;
    //     margin-left: -140px;
    //     font-size: 1.2rem;
    // }

    .main__technology-title{
        margin-bottom: 50px;
        margin-left: -140px;
        font-size: 1.2rem;
        color: #fff;

        @media (max-width: 1440px) {
            margin-left: -130px;
            }
        
        @media (max-width: 768px) {
            margin-left: 10px;
            margin-top: 40%;
            }
                
        // @media (max-width: 426px) {
        //     margin-bottom: 50px;
        //     margin-left: -140px;
        //     font-size: 1.2rem;
        // }
    }

    h2{
        padding: 12px;
    }

    &img{
    min-height: 40vh;
    max-height: 40vh;
    margin-left: 0;
    width: 100%;
    margin: 30px 0;
    @media (max-width: 768px) {
        margin-right: 100px;
        margin-top: 40%;
        }

    @media (max-width: 768px) {
        margin-left: -10px;
        width: 100vh;
        // margin: 30px 0;
        }
    }
}