@import "Fonts.scss";
@import "Variables.scss";

.main{
    padding: 1rem 8rem 1rem 8rem;
    &__tabs{
        color:$color-primary;
        margin-left: 30rem;
        padding-top: 85px;
      
    }
    &__text{
        color:$color-primary;
        margin-top: -150px;
        
    }
   


}