@import "Fonts.scss";
$color-primary: #FFFFFF;
$color-secundary: #ff0080;
$family: 'Bellefair', sans-serif;
$family-secundary: 'Barlow', sans-serif;
$family-terciary: 'Barlow Condensed', sans-serif;

