  .navBar {
    display: flex;
    margin-bottom: -211px;
    padding: 55px 24px 142px 10px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 5;
  }

  .navBar a:hover,
  .navBar a.active {
      border-bottom: 2px solid white;
  }
  .logo {
    border-radius: 80px;
  }

  .desktopHr {
    width: 50vw;
    height: 1px;
    margin-left: 90px;
    border: 1px solid #979797;
    opacity: 0.25;
    display: none;
  }
  
  .navBarList {
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  
  .navMenu {
    display: none;
    flex-direction: column;
    width: 100%;
    backdrop-filter: blur(80px);
    background: hsla(0, 0%, 100%, 0.1);
    color: white;
    // gap: 10px;
    padding: 30px 20px 40px 40px;
    align-items: center;
    text-align: center;
    list-style: none;
    width: 777px;
    height: 67px;
    li{
      list-style: none;
      padding: 41px;
      font-size: 16px;
  }
  a{
    text-decoration: none;
    gap: 10px;
    display: inline-flex;
  }
  }
  
  .showMenu {
   display: flex;
    padding: 297px 184px 1616px 52px;
    width: min-content;
    margin-left: 293px;
    position: absolute;
    top: 5px;
    justify-content: unset;
    align-items: flex-start;
  }
  
.hamburger {
  cursor: pointer;
  margin-left: 656px;
  width: 50px;
  position: absolute;
  z-index: 1
}
  
  @media screen and (min-width: 376px) {
    .hamburger {
      display: none;
    }
  
    .desktopHr {
      display: block;
    }
  
    .navMenu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: none;
      padding: 0;
    }
  }
  