// * {
//     margin: 0;
//     box-sizing: border-box;
//     // background-color: black;

// }

// .navBar {
    // display: flex;
    // margin-bottom: 10px;
    // padding: 80px 0px 10px 30px;
    // align-items: center;
    // justify-content: space-between;
    
//   @media screen and (max-width: 376px) {
//     flex-direction: column;
//     align-items: flex-start;
//     padding: 20px;
//   }
// }

// .navBarList {
//     display: flex;
//     align-items: center;
//   }
  
//   .hamburger {
//     cursor: pointer;
  
//     &.active {
//       display: none;
//     }
  
//     @media screen and (max-width: 376px) {
//       &.active {
//         display: block;
//       }
//     }
//   }

    // display: flex;
    // width: 100%;
    // backdrop-filter: blur(81.5485px);
    // background: hsla(0,0%,100%,.1);
    // color: white;
    // // opacity: 65%;
    // gap: 10px;
    // padding: 40px 0px 40px 70px;
    // align-items: center; 
    // text-align: center;
    // list-style: none;

//     //     // li{
//     //     //     background-color:hsl(250, 0%, 0%);
//     //     // }
//     // display: flex;
//     // width: 100%;
//     // backdrop-filter: blur(81.5485px);
//     // background: hsla(0, 0%, 100%, 0.1);
//     // color: white;
//     // gap: 10px;
//     // padding: 40px 0px 40px 70px;
//     .navMenu {
//   display: none;

//   @media screen and (max-width: 376px) {
//     display: block;
//     padding: 0;
//   }

    
 
// }
// .navMenuItem {
//     list-style: none;
//     text-align: center;
  
//     @media screen and (max-width: 376px) {
//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;
//       padding: 10px;
//     }
//   }
// .logo {
   
//     border-radius: 80px;
// }


// hr {
//     width: 50vw;
//     height: 1px;
//     margin-left: 90px;
//     border: 1px solid #979797;
//     opacity: .25;
//     z-index: inherit;
    
//     // display: none;
// }
* {
    margin: 0;
    box-sizing: border-box;
  }
  
  .navBar {
    display: flex;
    margin-bottom: -211px;
    padding: 55px 24px 142px 10px;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .logo {
    border-radius: 80px;
  }
  
  .hamburger {
    cursor: pointer;
    margin-left: 250px;
  }
  
  .desktopHr {
    width: 50vw;
    height: 1px;
    margin-left: 90px;
    border: 1px solid #979797;
    opacity: 0.25;
    display: none;
  }
  
  .navBarList {
    align-items: center;
    width: 100%;
    height: 100%;
   
  }
  
  .navMenu {
    display: none;
    flex-direction: column;
    width: 100%;
    backdrop-filter: blur(81.5485px);
    background: hsla(0, 0%, 100%, 0.1);
    color: white;
    gap: 10px;
    padding: 40px 0px 40px 70px;
    align-items: center;
    text-align: center;
    list-style: none;
    width: 700px;
    height: 67px;
  }
  
  .showMenu {
    display: flex;
    padding: 10px 20px 30px 40px;
    width: min-content;

  }
  
  @media screen and (min-width: 375px) {
    .hamburger {
      display: none;
    }
  
    .desktopHr {
      display: block;
    }
  
    .navMenu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: none;
      padding: 0;
      
    }
  }
  