.navBar {
    display: flex;
    margin-bottom: 10px;
    // padding: 80px 0px 10px 30px;
    align-items: center;
    justify-content: space-between;
}

.navBarList {
    display: flex;
    text-align: center;
    align-items: center;
}

.navMenu {
    display: flex;
    width: 100%;
    backdrop-filter: blur(80px);
    background: hsla(0, 0%, 100%, 0.1);
    color: white;
    gap: 10px;
    padding: 30px 20px 40px 40px;
    align-items: center;
    list-style: none;
}

.logo {
    border-radius: 80px;
}

hr {
    width: 70vw;
    height: 1px;
    margin-left: 90px;
    border: 1px solid #979797;
    opacity: .25;
    z-index: inherit;
}